<div class="formulaire">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="champ">
            <label for="nom">
                Nom :
                <input type="text" formControlName="nom">
            </label>
        </div>
        <div class="champ">
            <label for="real">
                Réalisateur :
                <input type="text" formControlName="real">
            </label>
        </div>
        <div class="champ">
            <label for="synopsis">
                Synopsis :
                <input type="text" formControlName="synopsis">
            </label>
        </div>
        <div class="champ">
            <label for="annee">
                Année :
                <input type="number" formControlName="annee">
            </label>
        </div>
        <div class="champ">
            <label for="img">
                URL de l'affiche :
                <input type="text" formControlName="img">
            </label>
        </div>
        <div class="champ">
            <label for="details">
                Details :
                <input type="text" formControlName="details">
            </label>
        </div>
        <button type="submit">Ajouter</button>
    </form>
</div>