<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <label for="nom">
        Nom :
        <input type="text" formControlName="nom">
    </label>

    <label for="real">
        Réalisateur :
        <input type="text" formControlName="real">
    </label>

    <label for="synopsis">
        Synopsis :
        <input type="text" formControlName="synopsis">
    </label>

    <label for="annee">
        Année :
        <input type="number" formControlName="annee">
    </label>

    <label for="img">
        URL de l'affiche :
        <input type="text" formControlName="img">
    </label>

    <label for="details">
        Details :
        <input type="text" formControlName="details">
    </label>
    <button type="submit">Ajouter</button>
</form>